<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block hero %}
<!-- Hero Section -->
<section class="hero bg-dark text-white text-center d-flex align-items-center">
    <div class="container">
        <h1 class="display-4">Welcome to My Task Solutions</h1>
        <p class="lead">All of the solutions can be demonstrated here.</p>
        <a href="#projects" class="btn btn-light btn-lg">Explore Solutions</a>
    </div>
</section>
{% endblock %}

{% block sections %}
<!-- Projects Section -->
<section id="projects" class="nav-padding">
    <div class="container">
        <h2 class="text-center mb-4">Solutions</h2>

        <!-- Project Tiles -->
        <div class="row">

            <!-- Project 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 bg-body-tertiary">
                    <div class="card-body">
                        <h5 class="card-title">Task 1</h5>
                        <p class="card-text">Display a polygon on a map using provided JSON file.</p>
                        <a href="{% url 'task1:home' %}" class="btn btn-primary">Try it out</a>
                    </div>
                </div>
            </div>

            <!-- Project 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 bg-body-tertiary">
                    <div class="card-body">
                        <h5 class="card-title">Task 2</h5>
                        <p class="card-text">Detect unauthorized sales on a list of transactions.</p>
                        <a href="{% url 'task2:home' %}" class="btn btn-primary">Try it out</a>
                    </div>
                </div>
            </div>

            <!-- Project 3 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 bg-body-tertiary">
                    <div class="card-body">
                        <h5 class="card-title">Task 3</h5>
                        <p class="card-text">Determine the maximum amount of interviews a person can have.</p>
                        <a href="{% url 'task3:home' %}" class="btn btn-primary">Try it out</a>
                    </div>
                </div>
            </div>

            <!-- Add more project tiles as needed -->

        </div>
    </div>
</section>

{% endblock %}

{% block base_content %}
{% endblock %}